@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --color-background: #030303;
  --color-surface: #0f0f11;
  --color-foreground: #ededed;
  --color-primary: #3b82f6;
}

:root {
  color-scheme: dark;
}

body {
  background-color: #000000;
  /* Subtle ambient lighting top-center */
  background-image: radial-gradient(
      circle at 50% 0%,
      rgba(59, 130, 246, 0.15) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 100% 0%,
      rgba(139, 92, 246, 0.1) 0%,
      transparent 40%
    );
  background-attachment: fixed;
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for a cleaner feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
